body{
	background: #f2f2f2;
}

.signin-card {
        max-width: 350px;
        border-radius: 2px;
        margin: 20px auto;
        padding: 20px;   
        background-color: #eceff1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .19),
        0 6px 6px rgba(0, 0, 0, .23);
}